/* line 2, ../sass/base/_reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/index.scss */
#main p {
  color: #00ff00;
  width: 97%;
}
/* line 7, ../sass/index.scss */
#main p .redbox {
  background-color: #ff0000;
  color: #000000;
}

/* line 12, ../sass/index.scss */
#main {
  width: 97%;
}
/* line 15, ../sass/index.scss */
#main p, #main div {
  font-size: 2em;
}
/* line 17, ../sass/index.scss */
#main p a, #main div a {
  font-weight: bold;
}
/* line 20, ../sass/index.scss */
#main pre {
  font-size: 3em;
}

/* line 22, ../sass/index.scss */
.funky {
  font-family: fantasy;
  font-size: 30em;
  font-weight: bold;
}

/* This comment is
 * several lines long.
 * since it uses the CSS comment syntax,
 * it will appear in the CSS output. */
/* line 34, ../sass/index.scss */
body {
  color: black;
}

/* line 40, ../sass/index.scss */
a {
  color: green;
}

/* line 43, ../sass/index.scss */
body.firefox .header:before {
  content: "Hi, Firefox users!";
}

/* line 50, ../sass/index.scss */
p {
  font: 12px/30px;
}

/* line 56, ../sass/index.scss */
.sidebar {
  width: 300px;
}
@media screen and (orientation: landscape) {
  /* line 56, ../sass/index.scss */
  .sidebar {
    width: 500px;
  }
}

/* line 63, ../sass/index.scss */
p {
  border: 1px solid;
}

/* line 73, ../sass/index.scss */
.mian {
  margin-left: 0;
  margin-right: auto;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 255, 177, 0.4);
  padding: 0;
}
